<?php
/*
*   Project: LogDrive
*   Author: John Hart
*   Repo:  https://github.com/johnhart96/log-drive
*   Licence: GNU Public Licence
*/

// Database setup
define( "DB_HOST" , "127.0.0.1" );
define( "DB_PORT" , 8889 );
define( "DB_USERNAME" , "root" );
define( "DB_PASSWORD" , "root" );
define( "DB_NAME" , "logdrive" );

// SMTP
define( "SMTP_HOST" , "127.0.0.1" );
define( "SMTP_USERNAME" , "" );
define( "SMTP_PASSWORD" , "" );
define( "SMTP_SECURITY" , "NONE" );
define( "SMTP_PORT" , 1025 );
define( "SMTP_FROM" , "" );
define( "SMTP_TO" , "" );
?>
